html{
	font-family: 'Quicksand', sans-serif;
}
.elec-data{
	border-radius: 3px;
	padding: 10px 10px 0;
	color: #F7F7F8;
	font-weight: 100;
	/*width: 25%;*/
	margin: 50px auto;
	height: 414px;
	overflow-y: scroll;
	background-color: #ff3066;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: #ff3066; 
}
::-webkit-scrollbar-thumb {
  background: #ff3066; 
}
/*::-webkit-scrollbar-thumb:hover {
  background: #555; 
}*/
.elec-data header{
	padding: 8px;
	border-bottom: 1px solid #EDF1F5;
}
.elec-data header h6{
	font-size: 28px;
    font-weight: 400;
} 
.elec-data header .right p{
	margin-bottom: 0px !important;
}
.elec-data .main .locations {
	padding: 10px;
	border-bottom: 1px solid #D4DDE9;
}
.elec-data .main .left p{
	margin-bottom: 0px;
}
.elec-data .main .left p:first-child{
	letter-spacing: 1px;
}
.elec-data .main .left .box{
	height: 40px;
	width: 60px;
	background-color: #273244;
	padding: 5px;
	border-radius: 3px;
	text-align: center;
}
.elec-data .main .right{
	padding: 0px 20px;
	text-align: center;
	height: 65px;
	border-left: 1px dashed #AAD4F5; 

}
.fnt-18{
	font-size: 18px;
}
.locations:hover{
	background-color: #273244;
}
.locations:hover > .left div.box{
	background-color: #ff3066;
}