html{
	font-family: 'Quicksand', sans-serif;
}
body{
	background: #EEF2F5;
}
.elec-data{
	border-radius: 3px;
	padding: 10px 10px 0;
	color: #333;
	font-weight: 100;
	box-shadow: 0 2px 7px rgba(0,0,0,0.2);
	margin: 50px auto;
	height: 424px;
	overflow-y: scroll;
	background-color: #FFFFFF ;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: #ff3066; 
}
::-webkit-scrollbar-thumb {
  background: #ff3066; 
}
/*::-webkit-scrollbar-thumb:hover {
  background: #555; 
}*/
.elec-data header{
	padding: 8px;
	border-bottom: 1px solid #EDF1F5;
}
.elec-data header h6{
	font-size: 26px;
	color: #FD397A;
    font-weight: 600;
} 
.elec-data header .right p{
	margin-bottom: 0px !important;
}
.elec-data .main .locations {
	padding: 10px;
	border-bottom: 1px solid #D4DDE9;
}
.elec-data .main .left p{
	margin-bottom: 0px;
	font-weight: 400;
}
.elec-data .main .left p:first-child{
	letter-spacing: 1px;
	color: black;
}
.elec-data .main .left .box{
	height: 40px;
	width: 60px;
	background-color: #7381EB;
	padding: 5px;
	color: #fff;
	font-weight: 400;
	border-radius: 3px;
	text-align: center;
}
.elec-data .main .right{
	padding: 0px 20px;
	text-align: center;
	height: 65px;
	border-left: 2px dashed #5b6be8; 

}
.fnt-18{
	font-size: 18px;
}
.locations:hover{
	background-color: #f2f2f2;
	
}
.locations:hover > .left div.box{
	background-color: #5B6BE8;
}